<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title></title>


<!-- Bootstrap -->
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<link href="../../static/css/style.css" th:href="@{/css/style.css}"
	rel="stylesheet" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<style>
body {
	margin-top: 20px;
}
</style>

</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Inotrs</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Opciones <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/admin/categoria/"
								th:href="@{/admin/categoria/}">Gestión de categorías</a></li>
							<li><a href="/admin/producto/" th:href="@{/admin/producto/}">Gestión
									de productos</a></li>
							<li><a href="/admin/edificio/" th:href="@{/admin/edificio/}">Gestión
									de edificios</a></li>
						</ul></li>
				</ul>
			</div>

		</div>
	</nav>

</head>
<body>
	
	
	<th:block id="contenido">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-1 col-md-10">
				<table class="table">
					<thead>
						<tr>
							<th>Login</th>
							<th>Nombre</th>
							<th>Apellidos</th>
							<th>Telefono</th>
							<th>Despacho</th>
							<th>Puesto</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td th:text=${usuario.login}></td>
							<td th:text="${usuario.nombre}"></td>
							<td th:text="${usuario.apellidos}"></td>
							<td th:text="${usuario.telefono}"></td>
							<td th:text="${usuario.despacho}"></td>
							<td th:text="${usuario.puesto}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
		<div class="row">
			<div class="col-md-1 col-xs-12">
			</div>
		<div class="col-md-4 col-xs-12">
				<h2>Edificio</h2>
	
				<table class="table">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Ubicacion</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td th:text="${usuario.edificio.nombre}"></td>
							<td th:text="${usuario.edificio.ubicacion}"></td>
						</tr>
					</tbody>
				</table>
		</div>
		
			<div class="col-md-1 col-xs-12">
			</div>
		<div class="col-md-4 col-xs-12">
			<h2>Producto</h2>
				<table class="table">
					<thead>
						<tr>
							<th>Categoria</th>
							<th>Marca</th>
							<th>Modelo</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td th:text="${usuario.producto.categoria.nombre}"></td>
							<td th:text="${usuario.producto.marca}"></td>
							<td th:text="${usuario.producto.marca}"></td>
						</tr>
					</tbody>
				</table>
		</div>
	

	</th:block>
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
		th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

	<script src="../../static/js/app.js" th:src="@{/js/app.js}"></script>

</body>